<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitMiracle.LibTiff.NET" version="2.4.649" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.5.1" targetFramework="net48" />
  <package id="MailKit" version="4.13.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.4" targetFramework="net48" />
  <package id="MimeKit" version="4.13.0" targetFramework="net48" />
  <package id="NETStandard.Library" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.1" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.4" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Net.Http.Json" version="9.0.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.1" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.4" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.4" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Syncfusion.Compression.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.DocIO.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.DocIORenderer.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.Licensing" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.Markdown" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.MetafileRenderer.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.OfficeChart.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.Pdf.Imaging.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.Pdf.NET" version="32.2.5" targetFramework="net48" />
  <package id="Syncfusion.SkiaSharpHelper.NET" version="32.2.5" targetFramework="net48" />
</packages>
