
.dateLoadTable td { padding-right:15px; text-align:right;}

/*  Fields for Forms */
.fieldLaborerID {min-width:15em;}  /* Field shows full name of laborer */
.fieldWONumber {min-width:10ch; max-width:15ch}
.fieldLocation {min-width:12ch;}
.fieldHours {min-width:5em;}
.fieldDollars {min-width:5em;}
.fieldCode {width: 8em;}
.fieldQuantity {width: 6em;}
.fieldDescription {min-width: 25em;}

/* Remove sidebar user/profile panel completely */
.leftside-menu .leftbar-user {
    display: none !important;
}

/* Spinner/Page-Loader */
#page-loader {
    position: fixed;
    inset: 0;
    background: rgb(128, 128, 128, 0.3);
    z-index: 9999;
    display: none;
    align-items: center;
    justify-content: center;
}
#page-loader.active {
    display: flex;
}
