@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">External Apps</h4>
                    <p>Links to external applications will appear here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
